body{
    background: black;
}
.sideofdiagonal{
    color:crimson;
    text-shadow: 10px;

}
input{
    background-color: aqua;
    width:600px;
    border-radius: 1000px;
    height: 40px;
    font-size: 30px;

}
#entries{
    background-color:rgba(256,256,256,0.4);
    border-radius: 40px;
}
.heading{
    color:greenyellow;
    font-size: 30px;
    padding:40px;
}
.notice{
    color:orange;
    font-size: 20px;
    margin:30px;
}
button{
    width:600px;
    height:100px;
    margin:70px 170px;
    text-decoration: solid;
    border:10px groove aqua;
    border-radius: 899px;
    background-color: rgb(1, 245, 164);
}
#message{
    color:red;
    font-size: 30px;
    text-align: center;
    background-color: rgba(133, 255, 3, 0.3);
    border-radius: 100px;
}